h1.title {
  color: #4C6A92;
  font-size:40px;
  font-weight: bold;
}
/* Level 1 header */
h1 {
  color: #4C6A92;
}
/* Level 2 header */
h2 {
  color: #AD5D5D;
}
/* Table of contents */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #AD5D5D;
    border-color: #337ab7;
}
/* Navigation pills */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #AD5D5D;
    color: #FFFFFF;
}

a {
  color: #4C6A92;
}
